<h2 class="full-width-centered">Round {{currentRound}}</h2>
<h2 class="full-width-centered">Player: {{currentPlayer}}</h2>

<div class="full-width-centered">
  <form [formGroup]="currentRoundInfo" (ngSubmit)="onSubmit()">
    <div class="full-width" >
        <mat-label>Select your move:</mat-label>
        
        <mat-select [(value)]="selectedMove" formControlName="movesControl" (selectionChange)="moveSelected($event.value)">
          <ng-container *ngFor="let m of moves">
            <mat-option [value]="m">{{m}}</mat-option>
          </ng-container>
        </mat-select>
        {{selectedMove}}
    </div>
    <br>
    <div>
      <button type="submit">NEXT</button>
    </div>
  </form>
</div>
<br>

<div class="full-width-centered">
  <mat-error>
    API server error (add ng-if and flag)
  </mat-error>
</div>
