<h2 class="full-width-centered">Round XXXX</h2>
<h2 class="full-width-centered">[Player Name]</h2>

<div class="full-width-centered">
    <!--
  <form [formGroup]="playerInfo" (ngSubmit)="onSubmit()">
    <div class="full-width" >
      <mat-label>Select your move:</mat-label>
      <input matInput formControlName="playerOneName">
    </div>
    <br>
    <div>
      <button type="submit">NEXT</button>
    </div>
  </form>
  -->
</div>
<br>

<div class="full-width-centered">
  <mat-error>
    API server error (add ng-if and flag)
  </mat-error>
</div>
