/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width-centered {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

table {
  width: 100%;
  border-collapse: collapse;
}
.half {
  width: 10%
}

.fat {
  width: 75%
}

.slim {
  width: 25%
}

.thinBorder {
  border: 1px solid lightseagreen !important ;
}
.debug {
  border: 2px solid red ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
