/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width-centered {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  
.debug {
  border: 2px;
  color: red;
}